<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cooperativesociety">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserMainActivity"></activity>
        <activity android:name=".DashBord" />
        <activity android:name=".AdminProfile" />
        <activity android:name=".TotalDataViewOfEvent" />
        <activity android:name=".EventUpload" />
        <activity android:name=".Payment" />
        <activity android:name=".MainActivitys.DonateActivity" />
        <activity android:name=".MainActivitys.MainActivity" />
        <activity android:name=".DoYouWantToDonate" />
        <activity android:name=".YourBalance" />
        <activity android:name=".MainActivitys.MemberActivity" />
        <activity android:name=".MainActivitys.FundActivityes" />
        <activity android:name=".MainActivitys.HelpActivityes" />
        <activity android:name=".MainActivitys.AdminActivity" />
        <activity android:name=".MainActivitys.EventsActivity" />
        <activity android:name=".UserProfile" />
        <activity android:name=".UploadYourInformation" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivitys.MyDonate" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>