<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cooperativesociety">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UploadHelp"></activity>
        <activity android:name=".BkashPayment" />
        <activity android:name=".UserMainActivity" />
        <activity android:name=".DashBord" />
        <activity android:name=".AdminProfile" />
        <activity android:name=".TotalDataViewOfEvent" />
        <activity android:name=".EventUpload" />
        <activity android:name=".Payment" />
        <activity android:name=".DonateActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DoYouWantToDonate" />
        <activity android:name=".YourBalance" />
        <activity android:name=".MemberActivity" />
        <activity android:name=".FundActivityes" />
        <activity android:name=".HelpActivityes" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".UserProfile" />
        <activity android:name=".UploadYourInformation" />
        <activity android:name=".Registration" />
        <activity android:name=".MyDonate" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>